@import "./variables.scss";

.form-container {
  display: flex;
  form {
    width: 95%;
    display: flex;
    flex-direction: column;
    input[type="submit"] {
      margin-top: 10px;
    }
    .text-input,
    textarea {
      font-size: 15pt;
      margin-bottom: 7px;
      &:focus {
        outline: none;
        border: 1px solid #ff441b;
      }
    }
    .button {
      @include Button(#ff441b);
    }
  }
}
