.tec {
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 5px;
  //background: #f0563d;
  //position: relative;
  font-size: 0.8em;
  border-radius: 3px;
}
.js {
  background-color: #f7df1e;
  color: #000000;
}
.react {
  background-color: #222222;
  color: #61daf6;
}
.nodejs {
  background-color: #3d8836;
  color: #ffffff;
}
.express {
  background-color: lightgray;
  color: darkgray;
}
.redux {
  background-color: white;
  color: #764abc;
}
.graphql {
  background-color: white;
  color: #e546ab;
}
.mongodb {
  background-color: #7dbf60;
  color: #412f1f;
}
.sass {
  background-color: #c75b91;
  color: #f7f7f7;
}
.styled-components {
  background-color: #d16eaa;
  color: #f2c846;
}
.aws {
  background-color: #f2b675;
  color: black;
}
.django {
  background-color: #e0e0e0;
  color: #47a27a;
}
.prisma {
  background-color: #e0e0e0;
  color: #47a27a;
}

.fab {
  font-size: 30px;
  float: right;
  color: lightgray;
}
